<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Traveling App</title>
    <link href="css\site.css" rel="stylesheet" />

</head>

<body>
   
    <nav class="navbar">
        <ul>
            <li><a href="#">Home</a></li>
            <li><a href="#">About Us</a></li>
            <li><a href="#">Typography</a></li>
            <li><a href="#">Contact Us</a></li>
            <div class="search">
                <input type="text" id="search" name="search" placeholder="Search Tours">
            </div>
        </ul>
    </nav>
    <div class="container1">
        <img src="/images/pexels-jaime-reimer-1376930-2662116.jpg" />
        
        <div class="text">
            <h3>EXPLORE THE WORLD</h3>
            <h5>ENJOY THE BEST DESTINATIONS WITH OUR TRAVEL AGENCY</h5>
            <button class="btn">Get in Touch</button>
        </div>
    </div>
    <div class="imgcontainer">
        <div class="ballon">
            <a href="#">

                <img src="~/images/ballon.jpg" alt="img" width="368" height="420"/>
            </a>
            <h5 class="box-tittle">Balloon Flight</h5>
        </div>
        <div class="ballon1">
            <a href="#">
                <img src="/images/mountain.jpg" alt="img" width="368" height="420"/>
            </a>
            <h5 class="box-tittle1">Mountain Holidays</h5>
        </div>
        <div class="ballon2">
            <a href="#">
                <img src="/images/beach.jpg" alt="img" width="368" height="420"/>
            </a>
            <h5 class="box-tittle2">Beach Holidays</h5>
        </div>
    </div>
    <div class="pmother">
        <div class="mountain">
            <img src="/images/imggesmountain.jpg" width="566" height="382"/>
        </div>
        <div class="para">
            <h3>Discover New Horizons</h3>
            <ul>
                <li>
                    <p>
                        Wonder Tour is committed to bringing our clients the best in value and quality travel arrangements.
                        We are passionate about travel and sharing the world's wonders with you.
                    </p>
                </li>
                <li>
                    <p>
                        Our mission is to provide the ultimate travel planning experience while<br>
                        becoming a one-stop shop for every travel service available in the industry.
                    </p>
                </li>
                <li>
                    <p>
                        We are proud to offer excellent quality and value for money in our tours,which give you<br>
                        the chance to experience your chosen destination in an authentic and exciting way.
                    </p>
                </li>
            </ul>
            <button class="btn">Read More</button>
            <button class="btn">Get in Touch</button>
        </div>
    </div>
    <div class="services">
        <h2>Our Services</h2>
        <div class="service-container">
            <div class="service-row">
                <div class="service-box">
                    <img src="/images/equalization.png" class="service-icon"/>
                    <h3>Personalized Matching</h3>
                    <p>Our expert travel consultants will work with you to understand your travel preferences and match you with the perfect.</p>
                </div>
                <div class="service-box">
                    <img src="/images/circular-outlined-badge-with-ribbon-recognition-prize-symbol.png" class="service-icon"/>
                    <h3>Wide Variety of Tours</h3>
                    <p>We offer a wide variety of personally picked tours with destinations all over the globe.</p>
                </div>
                <div class="service-box">
                    <img src="/images/favourites-star-outline-interface-symbol.png" class="service-icon"/>
                    <h3>High Qualified Services</h3>
                    <p>Our tour managers are qualified, skilled, and friendly to bring you the best service.</p>
                </div>
            </div>
            <div class="service-row">
                <div class="service-box">
                    <img src="/images/headphones-audio-symbol.png" class="service-icon"/>
                    <h3>24/7 Support</h3>
                    <p>You can always get professional support from our staff 24/7 and ask any question you have.</p>
                </div>
                <div class="service-box">
                    <img src="/images/fire.png" class="service-icon"/>
                    <h3>Hand-picked Hotels</h3>
                    <p>Our team offers only the best selection of affordable and luxury hotels to our clients.</p>
                </div>
                <div class="service-box">
                    <img src="/images/money-banking.png" class="service-icon"/>
                    <h3>Best Price Guarantee</h3>
                    <p>If you find tours that are cheaper than ours, we will compensate the difference.</p>
                </div>
            </div>
        </div>
    </div>

    </div>
    </div>
    <div class="footer">
        <ul>
            <li>
                <h3>Contact Us</h3>
                <p>Phone: 03062840276</p>
                <p>Email: haseebmhaseeb547@gmail.com</p>
                <p>Address: Nzarline Sialkot Cantt</p>
            </li>
            <li>
                <h3>Popular News</h3>
                <p>Your Personal Guide to 5 Best Places to Visit on Earth</p>
                <p>June 28, 2021</p>
                <p>Top 10 Hotels: Rating by Wonder Tour Travel Experts</p>
                <p>May 27, 2024</p>
            </li>
            <li>
                <h3>Quick Links</h3>
                <ul>
                    <li><a href="#">About Us</a></li>
                    <li><a href="#">Gallery</a></li>
                    <li><a href="#">Services</a></li>
                    <li><a href="#">Testimonials</a></li>
                    <li><a href="#">FAQ</a></li>
                    <li><a href="#">Contact</a></li>
                </ul>
            </li>
        </ul>
        <p>&copy;Haseeb industry. All rights reserved.</p>
    </div>
    <script src="js/site.js"></script>
   

</body>
</html>
